@model mvcdemo.Models.Book

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Added</title>
</head>
<body>
    <h2>Book [@Model.Title] has been added!</h2>
</body>
</html>
